* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Microsoft YaHei', sans-serif;
}

div[id] {
    display: inline-block;
}

h2 {
    text-align: center;
    font-weight: normal;
}

table {
    tr, th {
        text-align: left;
    }

    thead tr th {
        font-size: 0.6em !important;
    }

    tbody tr td {
        font-size: 0.5em !important;
    }
}
