* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

@media screen and (min-width: 830px) {
    .intellij-keymap-container-screen {
        .col {
            display: inline-block;
            vertical-align: top;
            width: 33%;
        }
    }

    .intellij-keymap-container-mobile {
        display: none;
    }
}

@media screen and (max-width: 830px) {
    .intellij-keymap-container-screen {
        display: none;
    }

    .intellij-keymap-container-mobile {
        .col {
            display: inline-block;
            vertical-align: top;
        }
    }
}

h2 {
    margin: 20px;
    margin-bottom: 30px;
    padding: 0 20px 10px 20px;
    border-bottom: solid 1px #ccc;

    text-align: center;
    font-weight: normal;
}

div[id] {
    display: block;

    margin: 20px;
    margin-bottom: 70px;
}

table {
    width: 100%;

    th, td {
        text-align: center;
        padding: 5px 10px;
    }

    th {
        font-size: 15px !important;
    }

    td {
        font-size: 0.7em !important;
    }
}
