---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Intellij快捷键精简子集</title>

        <link rel="stylesheet" href="dist/pure-min.css">
        <link rel="stylesheet" href="dist/intellij-keymap.css" >
    </head>

    <body>

        <div class="intellij-keymap-container-screen-three-columns">
            <div class="col">
                {% include navigating.html %}
            </div>

            <div class="col">
                {% include productivity.html %}
                {% include language-elements.html %}
                {% include refactoring.html %}
            </div>

            <div class="col">
                {% include editing.html %}
                {% include searching.html %}
                <!-- {% include runtime.html %} -->
            </div>
        </div>

        <div class="intellij-keymap-container-screen-two-columns">
            <div class="col">
                {% include navigating.html %}
                {% include editing.html %}
            </div>

            <div class="col">
                {% include productivity.html %}
                {% include language-elements.html %}
                {% include refactoring.html %}
                {% include searching.html %}
            </div>

        </div>

        <div class="intellij-keymap-container-screen-one-column">
            <div class="col">
                {% include navigating.html %}
                {% include editing.html %}
                {% include productivity.html %}
                {% include language-elements.html %}
                {% include refactoring.html %}
                {% include searching.html %}
            </div>
        </div>
    </body>

</html>
