<div id="editing">
    <h2>编辑</h2>

    <table class="pure-table" >
      <thead>
        <tr>
          <th>Operation</th>
          <th>Mac OSX 10.5+</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>基本代码补全</td>
          <td>^+Space</td>
        </tr>
        <tr>
          <td>智能补全</td>
          <td>^+⇧+Space</td>
        </tr>
        <tr>
          <td>语句补全</td>
          <td>⇧+⌘+Enter</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>从上方开始一行</td>
          <td>⌥+⌘+Enter</td>
        </tr>
        <tr>
          <td>从下方开始一行</td>
          <td>⇧+Enter</td>
        </tr>
        <tr>
          <td>上移/下移一行</td>
          <td>⇧+⌥+↑/↓</td>
        </tr>
        <tr>
          <td>上移/下移一个块</td>
          <td>⇧+⌘+↑/↓</td>
        </tr>
        <tr>
          <td>选中一个代码块</td>
          <td>⌥+↑</td>
        </tr>
        <tr>
          <td>取消代码块选中</td>
          <td>⌥+↓</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>重复当前行</td>
          <td>⌘+D</td>
        </tr>
        <tr>
          <td>复制并且不删除当前行</td>
          <td>⌘+C</td>
        </tr>
        <tr>
          <td>剪切当前行并复制到粘贴板</td>
          <td>⌘+X</td>
        </tr>
        <tr>
          <td>关闭当前标签</td>
          <td>⌘+W</td>
        </tr>
        <tr>
          <td>注释当前行</td>
          <td>⌘+/</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>优化import</td>
          <td>^+⌥+O</td>
        </tr>
        <tr>
          <td>格式化代码</td>
          <td>⌥+⌘+L</td>
        </tr>
      </tbody>
    </table>
</div>
