<div id="language-elements">
    <h2>语言要素生成</h2>

    <table class="pure-table" >
      <thead>
        <tr>
          <th>Operation</th>
          <th>Mac OSX 10.5+</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>测试、方法生成</td>
          <td>^+Enter/ ⌘+N</td>
        </tr>
        <tr>
          <td>创建类、文件、目录</td>
          <td>⌘+N</td>
        </tr>
        <tr>
          <td>创建override方法</td>
          <td>^+O</td>
        </tr>
        <tr>
          <td>创建接口方法实现</td>
          <td>^+I</td>
        </tr>
      </tbody>
    </table>
</div>
