<div id="navigation">
    <h2>导航</h2>

    <table class="pure-table" >
      <thead>
        <tr>
          <th>Operation</th>
          <th>Mac OSX 10.5+</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>转到方法/字段的声明</td>
          <td>⌘+B</td>
        </tr>
        <tr>
          <td>转到方法/字段的实现点</td>
          <td>⌘+⌥+B</td>
        </tr>
        <tr>
          <td>转到方法/字段类型的类定义处</td>
          <td>⇧+⌘+B/ ⇧+^+B</td>
        </tr>
        <tr>
          <td>当前类与单元测试间跳转</td>
          <td>⇧+⌘+T</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>跳转到当前类的基类</td>
          <td>⌘+U</td>
        </tr>
        <tr>
          <td>类继承体系</td>
          <td>^+H</td>
        </tr>
        <tr>
          <td>方法继承层次</td>
          <td>⇧+⌘+H</td>
        </tr>
        <tr>
          <td>当前方法调用链</td>
          <td>^+⌥+H</td>
        </tr>
        <tr>
          <td>本类及所有基类方法列表</td>
          <td>⌘+F12</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>类/方法/字段定义的快速预览</td>
          <td>⌥+Space/ ⌘+Y</td>
        </tr>
        <tr>
          <td>方法文档快速预览</td>
          <td>^+J</td>
        </tr>
        <tr>
          <td>方法参数快速预览</td>
          <td>⌘+P</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>前一个标签</td>
          <td>⇧+⌘+[</td>
        </tr>
        <tr>
          <td>后一个标签</td>
          <td>⇧+⌘+]</td>
        </tr>
        <tr>
          <td>往上一级</td>
          <td>⌥+⌘+←/ ⌘+[</td>
        </tr>
        <tr>
          <td>往下一级</td>
          <td>⌥+⌘+→/ ⌘+]</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>转到下一个错误或警告</td>
          <td>F2</td>
        </tr>
        <tr>
          <td>提示错误信息</td>
          <td>⌘+F1</td>
        </tr>
        <tr>
          <td>意图预测与智能帮助</td>
          <td>⌥+Enter</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>project视图</td>
          <td>⌘+1</td>
        </tr>
        <tr>
          <td>search/find视图</td>
          <td>⌘+3</td>
        </tr>
        <tr>
          <td>run视图</td>
          <td>⌘+4</td>
        </tr>
        <tr>
          <td>debug视图</td>
          <td>⌘+5</td>
        </tr>
        <tr>
          <td>VCS视图</td>
          <td>⌘+9</td>
        </tr>
        <tr>
          <td>terminal视图</td>
          <td>* ⌘+0</td>
        </tr>
        <tr>
          <td>隐藏所有工具视图</td>
          <td>⇧+⌘+F12</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>跳转到第…行</td>
          <td>⌘+L</td>
        </tr>
      </tbody>
    </table>
</div>
