<div id="refactoring">
    <h2>重构</h2>

    <table class="pure-table" >
      <thead>
        <tr>
          <th>Operation</th>
          <th>Mac OSX 10.5+</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>复制类/目录等</td>
          <td>F5</td>
        </tr>
        <tr>
          <td>移动类/目录等</td>
          <td>F6</td>
        </tr>
        <tr>
          <td>元素(类/方法/变量/…)重命名</td>
          <td>⇧+F6</td>
        </tr>
        <tr>
          <td>类/方法签名修改</td>
          <td>⌘+F6</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>字段(类级别)抽取</td>
          <td>⌥+⌘+F</td>
        </tr>
        <tr>
          <td>常量(类级别)抽取</td>
          <td>⌥+⌘+C</td>
        </tr>
        <tr>
          <td>变量(方法级别)抽取</td>
          <td>⌥+⌘+V</td>
        </tr>
        <tr>
          <td>参数(方法级别)抽取</td>
          <td>⌥+⌘+P</td>
        </tr>
        <tr>
          <td>方法抽取</td>
          <td>⌥+⌘+M</td>
        </tr>
        <tr>
          <td>方法内联</td>
          <td>⌥+⌘+N</td>
        </tr>
      </tbody>
    </table>
</div>
