<div id="runtime">
    <h2>运行时</h2>

    <table class="pure-table" >
      <thead>
        <tr>
          <th>Operation</th>
          <th>Mac OSX 10.5+</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>编译</td>
          <td>⌘+F9</td>
        </tr>
        <tr>
          <td>运行(最近一个测试)</td>
          <td>^+R</td>
        </tr>
        <tr>
          <td>调试</td>
          <td>^+D</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>打断点/取消断点</td>
          <td>⌘+F8</td>
        </tr>
        <tr>
          <td>查看所有断点</td>
          <td>⇧+⌘+F8</td>
        </tr>
        <tr>
          <td>跳入</td>
          <td>F7</td>
        </tr>
        <tr>
          <td>跳出</td>
          <td>⇧+F8</td>
        </tr>
        <tr>
          <td>智能跳入(当前行多个调用时)</td>
          <td>⇧+F7</td>
        </tr>
        <tr>
          <td>跳过(下一步)</td>
          <td>F8</td>
        </tr>
        <tr>
          <td>求表达式值</td>
          <td>⌥+F8</td>
        </tr>
        <tr>
          <td>停止调试</td>
          <td>⌘+F2</td>
        </tr>
      </tbody>
    </table>
</div>
