<div id="searching">
    <h2>搜索</h2>

    <table class="pure-table" >
      <thead>
        <tr>
          <th>Operation</th>
          <th>Mac OSX 10.5+</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>搜索</td>
          <td>⌘+F</td>
        </tr>
        <tr>
          <td>替换</td>
          <td>⌘+R</td>
        </tr>
        <tr>
          <td>查找引用点</td>
          <td>⌥+F7</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>查找类</td>
          <td>⌘+O</td>
        </tr>
        <tr>
          <td>查找文件</td>
          <td>⇧+⌘+O</td>
        </tr>
        <tr>
          <td>查找symbol</td>
          <td>⌥+⌘+O</td>
        </tr>
        <tr>
          <td>全项目文本搜索</td>
          <td>⇧+⌘+F</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>查找下一个</td>
          <td>⌘+G</td>
        </tr>
        <tr>
          <td>查找上一个</td>
          <td>⇧+⌘+G</td>
        </tr>
      </tbody>
    </table>
</div>
